# Environment variables
.env

# Neo4j data directories
docker/neo4j/data/
docker/neo4j/logs/
docker/neo4j/import/
docker/neo4j/plugins/
docker/docker-pyspark-compose.yml
docker/work/
docker/pysark.sh

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints
test_pyspark.ipynb

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
