services:
  neo4j:
    image: neo4j:latest
    container_name: local-neo4j
    ports:
      - "7474:7474" # HTTP (Browser UI)
      - "7687:7687" # Bolt (Driver connection)
    volumes:
      - ./neo4j/data:/data
      - ./neo4j/logs:/logs
      - ./neo4j/import:/import
      - ./neo4j/plugins:/plugins
    environment:
      - NEO4J_AUTH=neo4j/${NEO4J_PASSWORD}
      - NEO4J_PLUGINS=["apoc"]
    restart: always